<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.GoodsMapper">
  <select id="getAllGoods" resultType="com.example.shop.entity.Goods">
    SELECT * FROM goods WHERE status = 1
  </select>
  <select id="getGoodsById" resultType="com.example.shop.entity.Goods" parameterType="int">
    SELECT * FROM goods WHERE gid = #{gid}
  </select>
  <insert id="addGoods" parameterType="com.example.shop.entity.Goods">
    INSERT INTO goods VALUES (null,#{title},#{type},#{price},#{detail},#{pic},1,#{uid},#{name})
  </insert>
  <select id="getGoodsByType" resultType="com.example.shop.entity.Goods" parameterType="int">
    SELECT * FROM goods WHERE `type` = #{type} AND `status` = 1
  </select>
  <select id="getMyGoods" resultType="com.example.shop.entity.Goods" parameterType="int">
    SELECT * FROM goods WHERE uid = #{uid}
  </select>
  <delete id="delMyGoods" parameterType="int">
    DELETE FROM goods WHERE gid = #{gid}
  </delete>
  <select id="queryImgPath" resultType="java.lang.String" parameterType="int">
    SELECT pic FROM goods WHERE gid = #{gid}
  </select>
  <select id="getGoodsByTitle" resultType="com.example.shop.entity.Goods" parameterType="String">
    SELECT * FROM goods WHERE title LIKE "%"#{title}"%"
  </select>
</mapper>