<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.UserInfoMapper">
  <select id="login" resultType="com.example.shop.entity.UserInfo">
    SELECT * FROM `userInfo` WHERE `username` = #{username} AND `password` = #{password}
  </select>
  <insert id="sign" parameterType="map">
    INSERT INTO userInfo VALUES (NULL ,#{username}, #{password})
  </insert>
  <select id="queryUserByUsername" resultType="com.example.shop.entity.UserInfo" parameterType="java.lang.String">
    SELECT * FROM userInfo WHERE username = #{username}
  </select>
</mapper>